<ConfigurationXML>
  <ParentEntity ParentEntityLogicalName = 'account' ParentActiveStateCode = '0' ParentInactiveStateCode = '1'>
    <ChildEntity ChildEntityLogicalName = 'contact' PrimaryColumn = 'contactid' LookupSchemaName = 'parentcustomerid' ChildActiveStateCode = '0' ChildInactiveStateCode = '1' ChildActiveStatusCode = '1' ChildInactiveStatusCode = '2' />
  </ParentEntity>
</ConfigurationXML>
